<div class="tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <section class="characteristics">
        <fieldset>
            {{>champions-now.heroSheet.characteristic characteristics.strength type="text" class="uppercase bold"}}
            {{>champions-now.heroSheet.characteristic characteristics.presence type="text" class="uppercase bold"}}
        </fieldset>

        <fieldset>
            {{>champions-now.heroSheet.characteristic characteristics.body type="number" class="uppercase bold"}}
            {{>champions-now.heroSheet.characteristic characteristics.stunned type="number"}}
            {{>champions-now.heroSheet.characteristic characteristics.recovery type="number"}}
            {{>champions-now.heroSheet.characteristic characteristics.knockout type="number"}}
            {{>champions-now.heroSheet.characteristic characteristics.endurance type="number"}}
        </fieldset>

        <fieldset>
            <div class="form-group characteristic">
                <label class="uppercase bold">{{localize "Champions.Models.Actor.Characteristics.Defense"}}</label>
            </div>
            {{>champions-now.heroSheet.characteristic characteristics.ordinary type="number"}}
            {{>champions-now.heroSheet.characteristic characteristics.resistant type="number"}}
            {{>champions-now.heroSheet.characteristic characteristics.total type="number"}}
        </fieldset>

        <fieldset>
            {{>champions-now.heroSheet.characteristic characteristics.speed type="number" class="uppercase bold"}}
        </fieldset>

        <fieldset>
            {{>champions-now.heroSheet.characteristic characteristics.dexterity type="number" class="uppercase bold"}}
            {{>champions-now.heroSheet.characteristic characteristics.intelligence type="number" class="uppercase bold"}}
            {{>champions-now.heroSheet.characteristic characteristics.ego type="number" class="uppercase bold"}}
        </fieldset>
    </section>
</div>