<div class="input-rows">
    <div class="input-group">
        <label>{{localize "Champions.Item.END"}}</label>
        {{formInput fields.end value=system.end}}
    </div>
    <div class="input-group vertical fill">
        {{formInput fields.description value=system.description enriched=enrichment.system.description}}
    </div>
</div>